* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  background-color: #3b3636;
  color: #fff;
  padding: 10px;
  margin: 0;
}

.text {
  margin: 8px 0 8px 10px;
  width: 50%;
  border-radius: 3px;
  height: 25px;
  font-weight: 700;
}
.inputForm {
  background-color: #deb887;
  margin: 0;
}

.entered-info {
  background-color: #1e5555;
  color: #fff;
}